*{
    margin: 0px;
    padding: 0px;
}

.banner{
    color: white;
    background-color: #e74694;
    background-image: url(https://img.freepik.com/free-vector/abstract-striped-minimal-design_1048-13748.jpg?size=626&ext=jpg&ga=GA1.2.872171088.1685110585&semt=ais);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    line-height: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline:8vw ;
    margin-top: 25px;
}
/* padding-inline is equal to writing padding left and padding right at the same time */
.logos>img{
    height: 31px;
}
.buttons-and-menus{
    display: flex;
    align-items: center;
}
.buttons-and-menus>ul{
    display: flex;
}
.menu{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu li a{
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: #183b56;
    text-align: center;
    font-family: Averta PE,sans-serif;
    font-size: 16px;
    line-height: 20px;
    transition: color .2s;
    /* text-decoration: none; */
}

.menu li a:hover{
    color: rgb(7, 134, 231);
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
}

.dropdown-menu li{
    display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.sign-in{
    background-color: white;
    border: 1px solid #b9cde4;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    color: #183b56;
    font-weight: 600;
    transition: all 0.2s linear;
    margin-inline:10px;
}

.sign-in:hover{
    border: 1px solid rgb(7, 134, 231);
    color: rgb(7, 134, 231);
}

.sign-up{
    border-radius: 5px;
    background-color: #2294ed;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s linear;
    border:none;
    margin-inline:10px;
}

.sign-up:hover{
    background-color: #0061ad;
}


.hero{
    display: flex;
    align-items: center;
    padding-inline: 9vw;
    padding-top: 30px;
    justify-content: space-between;
}

.hero-col-1{
    width: 37%;
}

#hero-text-1{
    color: #183b56;
    letter-spacing: -1px;
    margin-top: 0;
    font-size: 48px;
    text-align: left;
    margin-bottom: 16px;
    font-family: Averta PE,sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

#hero-text-2{
    color: #577592;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: Averta PE,sans-serif;
    line-height: 1.5;
}

#get-started{
    border-radius: 5px;
    background-color: #2294ed;
    padding: 16px 33px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s linear;
    border:none;
    /* margin-inline:10px; */
    margin-top: 30px;
}

.world-text{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.5px;
    font-family: Averta PE,sans-serif;
    color: #183b56;
    margin-top:60px;
}

.company-logos{
    display: flex;
    margin-inline: 8vw;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.company-logos>img{
    height: 50px;
    margin-top: 30px;
}

@media (max-width:767px){
    .hero{
        flex-direction: column-reverse;
    }

    .hero-col-1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .company-logos>img{
        padding-inline: 30px;
    }
}